
* {
  font-family: 'Montserrat', sans-serif;
}

.coin-app {
  margin: 60px auto;
  max-width: 1024px;
}

.coin-input {
  padding: 10px;
}

.coin-table {
  border-collapse: collapse;
  width: 100%;
  margin: 30px 0 0 0;
}

.coin-table th {
  padding: 20px 10px;
  cursor: pointer;
}

.coin-table td {
  padding: 10px;
}

.coin-table th.active,
.coin-table td.active {
  background-color: #f9f9f9;
}

.coin-table th {
  border-bottom: 2px solid #dee2e6;
  font-weight: bold;
}

.coin-table td {
  border-bottom: 1px solid #dee2e6;
}

.coin-data {
  text-align: left;
}